<table id="Products">
  <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Edit</th>
      <th>Delete</th>
  </tr>
  <tr *ngFor="let product of productService.allProducts">
    <td>{{product.title}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.category.title}}</td>
    <td></td>
    <td><a (click)="deleteProduct(product.id)">Delete</a></td>
  </tr>
</table>
