<app-header></app-header>

  <!-- Product Details Section Begin -->
  <section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                            src="assets/img/product/details/product-details-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <b>Title :</b>
                    <h3><input type="text" [(ngModel)]="product.title" #titleInput="ngModel" ></h3>
                    <b>Price :</b>
                    <div class="product__details__price">
                      <input type="number" [(ngModel)]="product.price" #priceInput="ngModel" class="product__details__price">
                    </div>
                    <b>Description :</b>
                    <p>
                      <textarea [(ngModel)]="product.description" #priceInput="ngModel" rows="4" cols="70"></textarea>
                    </p>
                    <b>Quantity :</b>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="number" [(ngModel)]="product.quantity" #quantityInput="ngModel">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <b>Category :</b>
                    <select class="form-select form-select-lg mb-1 form-control ng-untouched ng-pristine ng-valid" name="sportType" aria-label=".form-select-lg example" [(ngModel)]="product.category" #reqsport="ngModel">
                      <option *ngFor="let category of allCategories" value="/api/categories/{{category.id}}">
                        {{category.title}}
                      </option>
                    </select>
                    <div><a (click)="editProduct(product)" class="primary-btn" routerLink="/showProducts">UPDATE PRODUCT</a></div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->


<app-footer></app-footer>
