<table id="event">
  <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Type</th>
      <th>Location</th>
  </tr>
  <tr *ngFor="let event of eventList">
    <td>{{event.title}}</td>
    <td>{{event.description}}</td>
    <td>{{event.type}}</td>
    <td>{{event.location}}</td>
 
    <td>
      <button class="button"  class="btn btn-primary btn-warning" (click)="deleteEvent(event.id)">delete</button>
        <i class="fa fa-edit"></i>        
    </td>

    <td>
      <button class="btn" routerLink="/editEvent" (click)="updateEvent(event)">
        Edit
      </button>
    </td>


  </tr>
</table>
