<!-- Page Content -->
<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <form #form="ngForm" form class="form-horizontal">
          <div class="table">
            <div class="row">
              <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Dashboard</h4>
                        <ul>
                          <li><a routerLink="/DashboardUser">Page Users</a></li>
                          <li><a href="#">Page Products</a></li>
                          <li><a href="#">Page Event</a></li>
                          <li><a href="#">Page Stores</a></li>
                          <li><a href="#">logout</a></li>
                          
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-9 col-md-7">
              <div class="col-lg-12 text-center form-group">
                <h2>Add Store</h2>
              </div>

              <div class="col-lg-12 text-center form-group" [class.has-error]="reqlname.invalid && reqlname.touched">
                <input placeholder="title" name="title" class="form-control ng-untouched ng-pristine ng-valid"  [(ngModel)]="storeService.newStore.titre" #reqfname="ngModel" required minlength="5">
                <div *ngIf="reqfname.invalid && reqfname.touched">
                  <div class="alert alert-danger" *ngIf="reqfname.errors.required">Tittle required</div>
                  <div class="alert alert-danger" *ngIf="reqfname.errors.minlength">Minimum length is 5</div>
                </div>
              </div>

              <div class="col-lg-12 text-center form-group" [class.has-error]="reqlname.invalid && reqlname.touched">
                <input  placeholder="adress" name="adress"  class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="storeService.newStore.adresse" #reqlname="ngModel" required minlength="7">
                <div *ngIf="reqlname.invalid && reqlname.touched">
                  <div class="alert alert-danger" *ngIf="reqlname.errors.required">adress required</div>
                  <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 7</div>
                </div>
              </div>

              <div class="col-lg-12 text-center form-group"  [class.has-error]="email.invalid && email.touched">
                <input placeholder="email" id="email" required email type="text" class="form-control" name="email"
                        [(ngModel)]="storeService.newStore.professionalEmail" #email="ngModel">
                <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">
                  Email is required
                </div>
                <div class="alert alert-danger" *ngIf="email.errors?.email && email.touched">
                  Email is Invalid
                </div>
              </div>   

              <div class="col-lg-12 text-center form-group" [class.has-error]="reqlname.invalid && reqlname.touched">
                <textarea placeholder="description" name="description"  class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="storeService.newStore.description" #reqlname="ngModel" required minlength="10"></textarea>
                <div *ngIf="reqlname.invalid && reqlname.touched">
                  <div class="alert alert-danger" *ngIf="reqlname.errors.required">Description required</div>
                  <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">description length is 10</div>
                </div>
              </div>

              <div  class="col-lg-12 text-center form-group" [class.has-error]="reqlname.invalid && reqlname.touched">
                <select  class="form-select form-select-lg mb-3 form-control ng-untouched ng-pristine ng-valid" name="sportType" aria-label=".form-select-lg example" [(ngModel)]="storeService.newStore.userAccount" #reqsport="ngModel" required minlength="3">
                  <option *ngFor="let user of UsersService.allUsers" value="/api/users/{{user.id}}">
                    {{user.username}}
                  </option>
                </select>
              </div>

              <div class=" col-lg-12 text-center form-group" [class.has-error]="reqlname.invalid && reqlname.touched">
                <input  name="logo" style="border: hidden;" ngModel #image="ngModel" type="file" (change)="selectFile($event)" alt="Girl in a jacket" loadedImage.width  class="form-control ng-untouched ng-pristine ng-valid">
              </div>
              
              
              
            <div class="row">
              <div class="col-lg-12 text-center form-group">
                <input class="btn btn-success btn-lg btn-block" type="submit" value="Join" (click)="addStore(storeService.newStore)">
            </div>
            </div>
           </div>
          </div>
        </div>
        </form>
      </div>
      
    </div>
  </div>
  <app-footer></app-footer>
  