  <!-- Humberger Begin -->
  <div class="humberger__menu__overlay"></div>
  <div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
  </div>
  <!-- Humberger End -->
  
  <!-- Header Section Begin -->
  <header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanis</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="./index.html">Home</a></li>
                        <li><a href="./shop-grid.html">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
  </header>>
  <!-- Page Container -->
  <!-- Shoping Cart Section Begin -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row col-lg-12">
                <div class="col-lg-3 ">
                    <div class="hero__categories">
                      <div class="hero__categories__all">
                          <i class="fa fa-bars"></i>
                          <span>Dashboard </span>
                      </div>
                      <ul>
                          <li><a routerLink="/DashboardUser">Page Users</a></li>
                          <li><a href="#">Page Products</a></li>
                          <li><a href="#">Page Event</a></li>
                          <li><a href="#">Page Stores</a></li>
                          <li><a href="#">logout</a></li>
                      
                      </ul>
                  </div>
                </div>
                <div class="row" class="col-lg-2 center">
                </div>
                <div class="container" class="col-sm-6" >
                    <div class="row">
                        <form #form="ngForm" align-items-center>  
                                <div class=" form-group ">
                                  <label for="fname"  >title</label>
                                  <input placeholder="title" name="title" class="form-control ng-untouched ng-pristine ng-valid"  [(ngModel)]="store.titre" #reqfname="ngModel" required minlength="3">
                                  <div *ngIf="reqfname.invalid && reqfname.touched">
                                    <div class="alert alert-danger" *ngIf="reqfname.errors.required">Field required</div>
                                    <div class="alert alert-danger" *ngIf="reqfname.errors.minlength">Minimum length is 3</div>
                                  </div>
                                </div>

                                <div class=" form-group">
                                  <label for="fname"  >phone</label>
                                  <input placeholder="logo" name="logo"  class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="store.logo" #reqlname="ngModel" required minlength="3">
                                  <div *ngIf="reqlname.invalid && reqlname.touched">
                                    <div class="alert alert-danger" *ngIf="reqlname.errors.required">Field required</div>
                                    <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 3</div>
                                  </div>
                                </div>

                                <div class=" form-group">
                                  <label for="fname"  >adresse </label>
                                  <input placeholder="adress" name="adress"  class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="store.adresse" #reqlname="ngModel" required minlength="3">
                                  <div *ngIf="reqlname.invalid && reqlname.touched">
                                    <div class="alert alert-danger" *ngIf="reqlname.errors.required">Field required</div>
                                    <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 3</div>
                                  </div>
                                </div>
                                <div class=" form-group">
                                  <label for="fname"  >professionalEmail </label>
                                  <input placeholder="email" name="email"  class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="store.professionalEmail" #reqlname="ngModel" required minlength="3">
                                  <div *ngIf="reqlname.invalid && reqlname.touched">
                                    <div class="alert alert-danger" *ngIf="reqlname.errors.required">Field required</div>
                                    <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 3</div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label for="fname"  >Owner of store </label>
                                  <select class="form-select form-select-lg mb-3 form-control ng-untouched ng-pristine ng-valid"  [attr.disabled]="!editable"    name="sportType" aria-label=".form-select-lg example" [(ngModel)]="store.userAccount" #reqsport="ngModel" required minlength="3">
                                    <option *ngFor="let user of userService.allUsers" value="/api/users/{{user.id}}">
                                      <div *ngIf="store.userAccount+'' == '/api/users/'+user.id"  >
                                      {{user.username}}
                                      </div>
                                    </option>
                                  </select>
                                </div> 

                                <div class=" form-group">
                                  <label for="fname"  >description</label>
                                  <textarea placeholder="description" name="description" type="textarea" class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="store.description" #reqlname="ngModel" required minlength="3"></textarea>
                                  <div *ngIf="reqlname.invalid && reqlname.touched">
                                    <div class="alert alert-danger" *ngIf="reqlname.errors.required">Field required</div>
                                    <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 3</div>
                                  </div>
                                </div>
                            <div >
                              <div class="col-md-12">
                                <input class="btn btn-success btn-lg btn-block" type="submit" value="Update" routerLink="/showStores" (click)="editStore(store)">
                              </div>
                            </div>
                          
                        </form> 
                  </div>
                </div>
            </div>
        </div>
    </section>
  
    <!-- Shoping Cart Section End -->
    <app-footer></app-footer>