<!-- Page Content -->
<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <form #form="ngForm" form class="form-horizontal">
          <div class="table">
            <div class="row">
              <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Dashboard</h4>
                        <ul>
                          <li><a routerLink="/DashboardUser">Page Users</a></li>
                          <li><a href="#">Page Products</a></li>
                          <li><a href="#">Page Event</a></li>
                          <li><a href="#">Page Stores</a></li>
                          <li><a href="#">logout</a></li>
                          
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-9 col-md-7">
              <div class="col-lg-12 text-center form-group">
                <h2>Update Store</h2>
              </div>

              <div class="col-lg-12 text-center form-group">
                <input placeholder="title" name="title" class="form-control ng-untouched ng-pristine ng-valid"  [(ngModel)]="store.titre" #reqfname="ngModel" required minlength="3">
                  <div *ngIf="reqfname.invalid && reqfname.touched">
                  <div class="alert alert-danger" *ngIf="reqfname.errors.required">Field required</div>
                </div>
              </div>
              <div class="col-lg-12 text-center form-group">
                <input placeholder="adress" name="adress"  class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="store.adresse" #reqlname="ngModel" required minlength="3">
                <div *ngIf="reqlname.invalid && reqlname.touched">
                  <div class="alert alert-danger" *ngIf="reqlname.errors.required">Field required</div>
                  <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 3</div>
                </div>
              </div>
              
              <div class="col-lg-12 text-center form-group">
                <input placeholder="email" name="email"  class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="store.professionalEmail" #reqlname="ngModel" required minlength="3">
                <div *ngIf="reqlname.invalid && reqlname.touched">
                  <div class="alert alert-danger" *ngIf="reqlname.errors.required">Field required</div>
                  <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 3</div>
                </div>
              </div>

              <div class="col-lg-12 text-center form-group">
                <select class="form-select form-select-lg mb-3 form-control ng-untouched ng-pristine ng-valid"  [attr.disabled]="!editable"    name="sportType" aria-label=".form-select-lg example" [(ngModel)]="store.userAccount" #reqsport="ngModel" required minlength="3">
                  <option *ngFor="let user of userService.allUsers" value="/api/users/{{user.id}}" placeholder="Owner of store">
                    <div *ngIf="store.userAccount+'' == '/api/users/'+user.id"  >
                    {{user.username}}
                    </div>
                  </option>
                </select>
              </div> 

              <div class="col-lg-12 text-center form-group">
                <textarea placeholder="description" name="description" type="textarea" class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="store.description" #reqlname="ngModel" required minlength="3"></textarea>
                <div *ngIf="reqlname.invalid && reqlname.touched">
                  <div class="alert alert-danger" *ngIf="reqlname.errors.required">Field required</div>
                  <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 3</div>
                </div>
              </div>

              <div class="col-lg-12 text-center form-group">
                <input placeholder="phone" name="logo"  ngModel #image="ngModel" type="file" (change)="selectFile($event)" alt="Girl in a jacket" loadedImage.width  class="form-control ng-untouched ng-pristine ng-valid"   required minlength="3">
                  <div *ngIf="reqlname.invalid && reqlname.touched">
                  <div class="alert alert-danger" *ngIf="reqlname.errors.required">Field required</div>
                  <div class="alert alert-danger" *ngIf="reqlname.errors.minlength">Minimum length is 3</div>
                </div>
              </div>
              
            <div class="row">
              <div class="col-lg-12 text-center form-group">
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="Update" routerLink="/showStores" (click)="editStore(store)">
                  </div>
            </div>
           </div>
          </div>
        </div>
        </form>
      </div>
      
    </div>
  </div>
  <app-footer></app-footer>
  